.regform__label_type_profile {
  padding-top: calc(var(--regform_input_botmrg)/6*1px);
  margin-bottom: calc(var(--regform_input_botmrg)/6*1px);
  flex-direction: row;
  justify-content: space-between;
  font-size: inherit;
  font-weight: var(--default_head_fnwght);
  line-height: calc(var(--regform_input_height)*1px);
  border-bottom: 1px solid var(--portfolio_line_color);
}

.regform__label_type_profile:first-of-type {
  padding-top: calc(var(--regform_profile_lbltop)*1px);
}

.regform__label_type_profile:last-of-type {
  margin-top: calc(var(--regform_profile_lastfldtop)*(-1px));
  border: none;
}