.aboutproject__article {
  margin-top: calc(var(--project_article_topmrg)*1px);
  display: grid;
  grid-template-columns: var(--project_article_stage) var(--project_article_duration);
  grid-template-rows: auto;
  column-gap: calc(var(--project_article_colgap)*1px);
}

@media screen and (max-width: 562px) {
  .aboutproject__article {
    display: flex;
    flex-direction: column;
  }
}