.searchform__findbtn {
  max-width: calc(var(--search_btn_size)*1px);
  height: calc(var(--search_btn_size)*1px);
  background-color: var(--author_back_color);
  background-image: var(--search_btn_img);
  aspect-ratio: var(--search_btn_aspect);
  object-position: center;
  border: none;
  cursor: pointer;
}


@media screen and (max-width: 768px) {
  .searchform__findbtn {
    margin-top: 1px;
  }
}

@media screen and (max-width: 320px) {
  .searchform__findbtn {
    margin-top: -1px;
  }
}