.about__bounds {
  padding: 0;
  margin-left: calc(var(--about_left)*1px);
  margin-right: calc(var(--about_left)*1px);
  max-width: calc(var(--page_width)*1px);
}

@media screen and (max-width: 1279px) {
  .about__bounds {
    margin-left: var(--about_left);
    margin-right: var(--about_left);
  }
}

@media screen and (max-width: 968px) {
  .about__bounds {
    margin-left: calc(var(--about_left)*1px);
    margin-right: calc(var(--about_left)*1px);
  }
}
