.burger {
  position: fixed;
  top: 0;
  right: calc(var(--burger_width)*(-1px));
  width: calc(var(--burger_width)*1px);
  height: calc(var(--burger_start_height)*100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  background-color: var(--burger_back_color);
  opacity: 0;
  transition: opacity 0.3s linear, right 0.4s ease-out, height 0.4s linear;
}

.burger_isactive {
  right: 0;
  height: min(var(--burger_height)*1px, 100%);
  opacity: 1;
  transition: opacity 1s ease-in, right 1.2s ease-in-out, height 1.1s ease-out;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .burger_isactive {
    height: calc(var(--burger_height)*1px);
  }
}

@media screen and (max-width: 767px) {
  .burger_isactive {
    height: min(var(--burger_height)*1px, 100%);
  }
}