.portfolio__link {
  display: flex;
  justify-content: space-between;
  font-size: calc(var(--portfolio_item_fnsize_p)*1px);
  line-height: calc(var(--portfolio_item_lnhght_p)*1px);
  letter-spacing: calc(var(--portfolio_item_fnsize_p)*var(--project_title_letter_f)*1px);
  font-weight: var(--default_text_fnwght);
  text-decoration: none;
  color: var(--default_color);
}