.techs__item {
  width: calc(var(--techs_item_width)*1px);
  height: calc(var(--techs_item_height)*1px);
  border-radius: calc(var(--techs_radius)*1px);
  text-align: center;
  line-height: calc(var(--techs_item_height)*1px);
  font-size: calc(var(--techs_item_fnsize_p)*1px);
  letter-spacing: calc(var(--techs_item_fnsize_p)*var(--project_title_letter_f)*1px);
  background-color: var(--techs_item_backcolor);
}

@media screen and (max-width: 1279px) {
  .techs__item {
    max-width: calc(var(--techs_item_width)*1px);
    min-width: calc(var(--techs_item_widthtgt768)*1px);
    width: 100%
  }
}

@media screen and (max-width: 768px) {
  .techs__item {
    width: calc(var(--techs_item_width)*1px);
  }
}

@media screen and  (max-width: 320px) {
  .techs__item:nth-of-type(2n+1).techs__item:last-of-type {
    margin-right: auto;
  }
}

@media screen and  (max-width: 319px) {
  .techs__item:last-of-type {
    margin: auto;
  }
}