.movies__button {
  margin: calc(var(--movies_btn_top)*1px) auto calc(var(--movies_btn_botmrg)*1px);
  width: calc(var(--movies_btn_width)*1px);
  height: calc(var(--movies_btn_height)*1px);
  font-size: calc(var(--promo_btn_fnsize_p)*1px);
  line-height: calc(var(--movies_btn_lnhght_p)*1px);
  font-weight: var(--default_head_fnwght);
  color: inherit;
  background-color: inherit;
  border: 1px solid var(--portfolio_line_color);
  border-radius: calc(var(--movies_btn_radius)*1px);
  cursor: pointer;
}