.aboutme__link {
  font-size: calc(var(--author_link_fnsize_p)*1px);
  line-height: calc(var(--author_link__lnhght_p)*1px);
  font-weight: var(--default_head_fnwght);
  text-decoration: none;
  color: var(--default_color);
}

@media screen and  (max-width: 562px) {
  .aboutme__link {
    margin-top: calc(var(--author_link_align)*1px);
  }
}