.header__profile-img {
  margin-left: calc(var(--header_profile_lefit)*1px);
  max-width: 100%;
  aspect-ratio: var(--header_profile_aspect);
  object-fit: cover;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.08);
}

@media screen and (max-width: 768px) {
  .header__profile-img {
    visibility: hidden;
  }
}