:root {
  /* For local debugging add ../../ to all backimage urls (for black_heart_icon:  ../../../), these are paths 4 webpack */
  --search_btn_img: url(../../images/components/movies/find_btn.png);
  --filter_checkbox_img: url(../../images/components/movies/checkbox.png);
  --filter_checkbox_toggle: url(../../images/components/movies/checkbox_toggle.png);
  --savedmovie_btn_remove: url(../../images/components/movies/close_save_btn.png);
  --header_burger: url(../../images/header/burger.png);
  /* ---------------------------- General config ---------------------------- */
  --page_width: 1280;
  --default_section_left: 70;
  --default_color: #fff;
  --default_back_color: #073042;
  /* ---------------------------- Fonts config ---------------------------- */
  --default_text_fnwght: 400;
  --default_head_fnwght: 500;
  --header_fnsize_p: 13;
  --header_lnhght_p: 18;
  --header_fnwght: var(--default_text_fnwght);
  --burger_fnsize_p: 18;
  --burger_lnhght_p: 22;
  --burger_fnwght: var(--default_head_fnwght);
  --promo_title_fnsize_p: 50;
  --promo_title_lnhght_p: 58;
  --promo_subtitle_fnsize_p: var(--header_fnsize_p);
  --promo_subtitle_lnhght_p: 16;
  --promo_btn_fnsize_p: 12;
  --promo_btn_lnhght_p: var(--promo_subtitle_lnhght_p);
  --project_title_fnsize_p: 22;
  --project_title_lnhght_p: 27;
  --project_title_letter_f: -0.04;
  --project_subitle_fnsize_p: 20;
  --project_subitle_lnhght_p: 24;
  --project_text_fnsize_p: 14;
  --project_text_lnhght_p: 20;
  --project_diag_lnhght_p: 17;
  --techs_title_fnsize_p: var(--promo_title_fnsize_p);
  --techs_title_lnhght_p: var(--promo_title_lnhght_p);
  --techs_title_letter_f: -0.04;
  --techs_item_fnsize_p: var(--project_text_fnsize_p);
  --author_subtitle_fnsize_p: 18;
  --author_paragraph_lnhght_p: 22;
  --author_link_fnsize_p: var(--project_text_fnsize_p);
  --author_link__lnhght_p: var(--project_diag_lnhght_p);
  --portfolio_title_fnsize_p: var(--author_subtitle_fnsize_p);
  --portfolio_title_lnhght_p: var(--project_text_lnhght_p);
  --portfolio_item_fnsize_p: 30;
  --portfolio_item_lnhght_p: 50;
  --search_input_fnsize_p: 28;
  --search_input_lnhght_p: 34;
  --movies_btn_lnhght_p: 15;
  --card_title_fnsize_p: var(--header_fnsize_p);
  --card_title_lnhght_p: var(--promo_subtitle_lnhght_p);
  --card_duration_fnsize_p: 11;
  --card_duration_lnhght_p: 13.5;
  --filter_label_fnsize_p: var(--header_fnsize_p);
  --filter_label_lnhght_p: var(--header_lnhght_p);
  --footer_fnsize_p: var(--header_fnsize_p);
  --footer_lnhght_p: var(--promo_subtitle_lnhght_p);
  --form_title_fnsize_p: 24;
  --form_title_lnhght_p: 29;
  --form_label_fnsize_p: 10;
  --form_label_lnhght_p: 12;
  --profile_btn_fnsize_p: var(--header_fnsize_p);
  --profile_btn_lnhght_p: var(--promo_subtitle_lnhght_p);
  --notfound_title_fnsize_p: 140;
  --notfound_title_lnhght_p: 169;
  --notfound_prg_fnsize_p: 16;
  --notfound_prg_lnhght_p: 19;
  --notfound_btn_fnsize_p: var(--project_text_fnsize_p);
  --notfound_btn_lnhght_p: var(--project_diag_lnhght_p);
  /* ---------------------------- Header config ---------------------------- */
  --header_left: var(--default_section_left);
  --header_right: calc(var(--default_section_left));
  --header_bot: calc(var(--header_height) - var(--logo_top) - var(--logo_size));
  --header_height: 74;
  --header_back_dark: var(--author_back_color);
  --logo_top: 18;
  --logo_size: 38;
  --logo_aspect: 1;
  --logo_height: 33;
  --header_profile_top: 22;
  --header_profile_lefit: -5;
  --header_profile_width: 100;
  --header_profile_height: 32;
  --header_profile_aspect: var(--header_profile_width)/var(--header_profile_height);
  --header_gap: 29;
  --header_btn_top: 19;
  --header_btn_width: 77;
  --header_btn_height: 36;
  --header_btn_backcolor: #3DDC84;
  --navigation_top: 27;
  --navigation_left: 64;
  --navigation_gap: 18;
  /* ---------------------------- Content config main ---------------------------- */
  --main_height: 648;
  --main_top: 149;
  --main_top_mrg: calc(var(--main_top) - var(--header_height));
  --main_left: var(--default_section_left);
  --promo_bot_mrg: calc(var(--main_height) - var(--promo_btn_top) - var(--promo_btn_height));
  --promo_title_fitop: -34;
  --promo_title_firight: 5;
  --promo_title_len: 640;
  --promo_title_height: 174;
  --promo_subtitle_len: 310;
  --promo_subtitle_height: 32;
  --promo_subtitle_top: 359;
  --promo_subtitle_fitop: 4;
  --promo_head_gap: calc(var(--promo_subtitle_top) - var(--promo_title_height) - var(--main_top) - var(--header_height));
  --promo_img_width: 310;
  --promo_img_height: 304;
  --promo_aspect: var(--promo_img_width)/var(--promo_img_height);
  --promo_btn_top: 537;
  --promo_btn_width: 129;
  --promo_btn_height: 36;
  --promo_btn_radius: 3;
  --promo_btn_opacity: 0.6;
  --main_btn_gap: calc(var(--promo_btn_top) - var(--promo_subtitle_top) - var(--promo_subtitle_height)*3 + 2);
  --about_left: var(--main_left);
  --project_top: 110;
  --project_top_offset: calc(var(--main_height) + var(--header_height));
  --project_back_color: #202020;
  --project_line_top: 160;
  --project_height: 608;
  --project_line_topmrg: calc(var(--project_line_top) - var(--project_top) - var(--project_title_lnhght_p));
  --project_line_color: #DADADA;
  --project_article_top: 231;
  --project_article_topmrg: calc(var(--project_article_top) - var(--project_line_top) - 9);
  --project_paragraph_top: 281;
  --project_paragraph_topmrg: calc(var(--project_paragraph_top) - var(--project_article_top) - var(--project_subitle_lnhght_p));
  --project_article_stage: 47fr;
  --project_article_duration: 53fr;
  --project_article_colgap: 102;
  --project_diag_top: 432;
  --project_diag_topmrg: calc(var(--project_diag_top) - var(--project_paragraph_top) - var(--project_text_lnhght_p)*2 - 15);
  --project_botmrg: calc(var(--project_height) - var(--project_caption_top) - var(--project_item_height) - var(--project_caption_topmrg));
  --project_diag_back: 2fr;
  --project_diag_front: 8fr;
  --project_item_height: 36;
  --project_item_diagcolor: #000;
  --project_backend_color: var(--header_btn_backcolor);
  --project_frontend_color: #303030;
  --project_caption_top: 482;
  --project_caption_topmrg: calc(var(--project_caption_top) - var(--project_diag_top) - (3*var(--project_item_height) - var(--project_diag_lnhght_p))/2);
  --project_caption_color: #8B8B8B;
  --techs_top: 100;
  --techs_height: 625;
  --techs_bot: calc(var(--techs_height) - var(--techs_list_top) - var(--techs_item_height) - 16);
  --techs_back_color: #272727;
  --techs_line_top: 149;
  --techs_line_topmrg: calc(var(--techs_line_top) - var(--techs_top) - var(--project_title_lnhght_p));
  --techs_title_top: 240;
  --techs_title_topmrg: calc(var(--techs_title_top) - var(--techs_line_top) - var(--techs_line_topmrg)/2);
  --techs_subtitle_top: 324;
  --techs_subtitle_topmrg: calc(var(--techs_subtitle_top) - var(--techs_title_top) - var(--promo_title_lnhght_p));
  --techs_subtitle_len: 460;
  --techs_list_top: 464;
  --techs_list_topmrg: calc(var(--techs_list_top) - var(--techs_subtitle_top) - var(--project_text_lnhght_p)*2);
  --techs_item_width: 90;
  --techs_item_height: 60;
  --techs_radius: 10;
  --techs_col_gap: 10;
  --techs_item_backcolor: #303030;
  --author_top: 110;
  --author_height: 1080;
  --author_back_color: var(--project_back_color);
  --author_line_top: 159;
  --author_line_topmrg: calc(var(--author_line_top) - var(--author_top) - var(--project_title_fnsize_p) - 5);
  --author_article_top: 215;
  --author_article_topmrg: calc(var(--author_article_top) - var(--author_line_top));
  --author_image_width: 270;
  --author_image_height: 327;
  --author_img_aspect: var(--author_image_width)/var(--author_image_height);
  --author_subtitle_top: 292;
  --author_subtitle_topmrg: calc(var(--author_subtitle_top) - var(--author_article_top) - var(--promo_title_lnhght_p));
  --author_paragraph_top: 337;
  --author_paragraph_topmrg: calc(var(--author_paragraph_top) - var(--author_subtitle_top) - var(--project_text_lnhght_p));
  --author_paragraph_width: 600;
  --portfolio_top: 643;
  --portfolio_top_mrg: calc(var(--portfolio_top) - var(--author_article_top) - var(--author_image_height));
  --portfolio_title_color: var(--project_caption_color);
  --portfolio_list_top: 712;
  --portfolio_list_topmrg: calc(var(--portfolio_list_top) - var(--portfolio_top) - var(--portfolio_title_lnhght_p));
  --portfolio_list_align: 19;
  --portfolio_line_color: #424242;
  --portfolio_line_top: 782;
  --portfolio_item_botmrg: calc(var(--portfolio_line_top) - var(--portfolio_list_top) - var(--portfolio_link_height));
  --portfolio_link_width: 29;
  --portfolio_link_height: 60;
  --portfolio_bot_mrg: calc(var(--author_height) - var(--portfolio_list_top) - (var(--portfolio_line_top) - var(--portfolio_list_top))*4);
  /* ---------------------------- Config movies ---------------------------- */
  --search_top: 70;
  --search_align_right: -2;
  --search_align_bot: -2;
  --search_height: 217;
  --search_back_color: var(--author_back_color);
  --search_btn_size: 34;
  --search_btn_aspect: 1/1;
  --search_line_top: 115;
  --search_line_bot: calc(var(--search_line_top) - var(--search_top) - var(--search_input_lnhght_p));
  --filter_top: 149;
  --filter_topmrg: calc(var(--filter_top) - var(--search_line_top));
  --filter_left: 2;
  --filter_bot: calc(var(--search_height) - var(--filter_top) - var(--filter_height));
  --filter_width: 36;
  --filter_height: 20;
  --fiter_aspect: var(--filter_width)/var(--filter_height);
  --filter_gap: 13;
  --movies_top: 70;
  --movies_btn_top: 81;
  --movies_btn_width: 320;
  --movies_btn_height: 36;
  --movies_btn_radius: 6;
  --movies_back_color: var(--author_back_color);
  --movies_btn_bot: 182;
  --movies_btn_botmrg: calc(var(--movies_btn_bot) - var(--movies_btn_top) - var(--movies_btn_height));
  --list_col_gap: 18;
  --list_row_gap: 30;
  --card_width: 270;
  --card_height: 219;
  --card_back_color: #222;
  --card_img_width: var(--card_width);
  --card_img_height: 151;
  --card_aspect: var(--card_img_width)/var(--card_img_height);
  --card_title_top: 14;
  --card_title_left: 13;
  --card_title_width: 214;
  --card_btn_size: 16;
  --card_btn_radius: 50;
  --card_btn_savecolor: #2BE080;
  --card_btn_unsavecolor: #313131;
  --card_duration_top: 10;
/* ---------------------------- Footer config ---------------------------- */
  --footer_top: 76;
  --footer_topmrg: calc(var(--footer_height) - var(--footer_top));
  --footer_saved_altop: -31;
  --footer_left: var(--header_left);
  --footer_right: calc(var(--footer_left));
  --footer_bot: calc(var(--footer_height) - var(--footer_list_top) - var(--promo_subtitle_lnhght_p));
  --footer_height: 172;
  --footer_line_top: 112;
  --footer_line_topmrg: calc(var(--footer_line_top) - var(--footer_top) - var(--promo_subtitle_lnhght_p));
  --footer_list_top: 132;
  --footer_list_topmrg: calc(var(--footer_list_top) - var(--footer_line_top));
  --footer_gap: 20;
  --footer_back_color: var(--author_back_color);
  --footer_line_color: #424242;
  /* ---------------------------- Components config -------------------------------- */
  --register_top: 69;
  --register_btn_topfit: calc(var(--regform_input_height) + var(--regform_input_topmrg) + var(--regform_input_botmrg)*2 - 4);
  --profile_top: 36;
  --profile_back_color: var(--project_back_color);
  --profile_fld_fitop: 4;
  --profile_fld_firight: -2;
  --profile_fld_height: 36;
  --profile_fld_fnsize_p: var(--card_duration_fnsize_p);
  --profile_fld_lnhght_p: var(--card_duration_lnhght_p);
  --profile_btn_topfit: 24;
  --profile_lnk_topfit: 14;
  --profile_lnk_fitleft: -2;
  --regform_profile_lbltop: 68;
  --regform_profile_lastfldtop: 5;
  --regform_profile_width: 410;
  --regform_top: 144;
  --regform_topmrg: calc(var(--regform_top) - var(--register_top) - var(--logo_size));
  --regform_width: 396;
  --regform_items_top: 213;
  --regform_title_bot: calc(var(--regform_items_top) - var(--regform_top) - var(--form_title_lnhght_p));
  --regform_input_top: 21;
  --regform_input_topmrg: calc(var(--regform_input_top) - var(--form_label_lnhght_p));
  --regform_input_bot: 85;
  --regform_input_botmrg: calc(var(--regform_input_bot) - var(--regform_input_top) - var(--regform_input_height));
  --regform_input_left: 442;
  --regform_input_height: 46;
  --regform_input_radius: 8;
  --regform_fld_left: 457;
  --regform_fld_leftmrg: calc(var(--regform_fld_left) - var(--regform_input_left));
  --regform_fld_backcolor: #2f2f2f;
  --regform_fld_fnsize_p: var(--project_text_fnsize_p);
  --regform_fld_lnhght_p: var(--project_diag_lnhght_p);
  --regform_fld_bot: 442;
  --regform_btn_top: 600;
  --regform_btn_topmrg: calc(var(--regform_btn_top) - var(--regform_fld_bot));
  --regform_btn_height: 45;
  --regform_btn_raduis: 3;
  --regform_btn_backcolor: #4285F4;
  --regform_lnk_top: 660;
  --regform_lnk_topmrg: calc(var(--regform_lnk_top) - var(--regform_btn_top) - var(--regform_btn_height));
  --regform_lnk_fitgap: 3;
  --notfound_title_top: 245;
  --notfound_prg_top: 419;
  --notfound_prg_topmrg: calc(var(--notfound_prg_top) - var(--notfound_title_top) - var(--notfound_title_lnhght_p));
  --notfound_btn_top: 622;
  --notfound_btn_topmrg: calc(var(--notfound_btn_top) - var(--notfound_prg_top) - var(--notfound_prg_lnhght_p));
  /*--tooltip_image_top: 60;
  --tooltip_title_top: 212;*/
  /* ---------------------------- Form's errors config ---------------------------- */
  --input_last_top: 198;
  --input_error_top: 254;
  --input_error_topmrg: calc(var(--input_error_top) - var(--input_last_top) - var(--regform_input_height) - var(--regform_input_botmrg));
  --input_error_fnsize_p: var(--form_label_fnsize_p);
  --input_error_lnhght_p: var(--form_label_lnhght_p);
  --input_error_color: #EE3465;
}

@media screen and (max-width: 1279px) {
  :root {
    --main_left: calc((50vw + (var(--page_width)/2 - 968)*1px)/(var(--page_width) - 968)*var(--default_section_left));
    --header_left: var(--main_left);
    --header_right: calc((1px + (300vw - 3*968px)/(var(--page_width) - 968))*var(--default_section_left)/2);
    --footer_left: var(--header_left);
    --footer_right: var(--header_right);
    /* ---------------------------- Components media queries ---------------------------- */
    --register_top_tgt768: 232;
    --profile_top_tgt768: 196;
    --notfound_top_tgt768: 408;
  }
}

@media screen and (max-width: 1154px) {
  :root {
    --promo_title_fnsize_p: 48;
    --promo_title_lnhght_p: 56;
    --techs_title_fnsize_p: 50;
    --techs_title_lnhght_p: 58;
    --author_image_width: 264;
    --author_image_height: 318;
    --author_subtitle_fnsize_p: 16;
    --portfolio_title_fnsize_p: 18;
    --about_left: 50;
    /*--default_color: magenta;*/
    }
}

@media screen and (max-width: 968px) {
  :root {
    --promo_title_fnsize_p: 44;
    --promo_title_lnhght_p: 54;
    --default_section_left: 30;
    --main_top: 214;
    --main_left: var(--default_section_left);
    --header_right: var(--main_left);
    --promo_title_fitop: 22;
    --promo_title_len: 682;
    --promo_subtitle_fitop: -6;
    --promo_subtitle_len: 260;
    --promo_subtitle_top: 351;
    --project_top: 92;
    --project_line_top: 141;
    --project_article_top: 211;
    --project_article_stage: 51fr;
    --project_article_duration: 49fr;
    --project_article_colgap: 18;
    --project_subtitle_lnhght_p: 24.1;
    --project_paragraph_topmrg: calc(var(--project_paragraph_top) - var(--project_article_top) - var(--project_subitle_lnhght_p)*2);
    --project_diag_top: 412;
    --project_diag_back: 21fr;
    --project_diag_front: 79fr;
    --project_caption_top: 464;
    --project_height: 570;
    --techs_top: 90;
    --techs_line_top: 139;
    --techs_title_top: 220;
    --techs_subtitle_top: 292;
    --techs_list_top: 411;
    --techs_item_width: 84;
    --techs_item_height: 57;
    --techs_item_fnsize_p: 12;
    --techs_height: 559;
    --author_top: var(--techs_top);
    --author_height: 994;
    --author_line_top: 139;
    --author_article_top: 191;
    --author_image_width: 255;
    --author_image_height: 307;
    --author_subtitle_fnsize_p: 14;
    --author_subtitle_top: 251;
    --author_paragraph_top: 287;
    --portfolio_top: 593;
    --portfolio_list_top: 662;
    --portfolio_line_top: 731;
    /* ---------------------------- Components media queries ---------------------------- */
    --register_top: var(--register_top_tgt768);
    --profile_top: var(--profile_top_tgt768);
    --regform_top: 307;
    --regform_items_top: 377;
    --regform_fld_bot: 623;
    --regform_btn_top: 779;
    --regform_lnk_top: 840;
    --notfound_title_top: var(--notfound_top_tgt768);
    --notfound_prg_top: 582;
    --notfound_btn_top: 784;
    /*--default_color: blue;*/
  }
}

@media screen and (max-width: 768px) {
  :root {
  --header_profile_top: 15;
  --header_burger_size: 44;
  --header_profile_width: var(--header_burger_size);
  --header_profile_height: var(--header_profile_width);
  --burger_width: 520;
  --burger_height: 1024;
  --burger_start_height: 0.15;
  --burger_top: 23;
  --burger_right: 23;
  --burger_link_top: 150;
  --burger_bot: 91;
  --burger_close_size: 22;
  --burger_close_botmrg: calc(var(--burger_link_top) - var(--burger_top) - var(--burger_close_size));
  --burger_nav_gap: 28;
  --burger_profile_width: 100;
  --burger_profile_height: 32;
  --burger_back_color: var(--project_back_color);
  --promo_title_fnsize_p: 40;
  --promo_title_lnhght_p: 50;
  --project_text_fnsize_p: 12;
  --project_text_lnhght_p: 18;
  --techs_title_letter_f: -0.052;
  --author_subtitle_fnsize_p: 12;
  --author_link_fnsize_p: 14;
  --author_link__lnhght_p: 11;
  --portfolio_title_lnhght_p: 20;
  --portfolio_item_fnsize_p: 28;
  --portfolio_link_width: 27;
  --search_top: 76;
  --search_line_top: 122;
  --filter_top: 153;
  --filter_gap: 16;
  --movies_top: 84;
  --movies_btn_top: 82;
  --list_col_gap: 30;
  --list_row_gap: 36;
  --card_width: 339;
  --card_height: 257;
  --card_img_height: 190;
  --card_title_top: 15;
  --card_title_left: 11;
  --footer_saved_altop: -27;
  --footer_list_top: 131;
  /* ---------------------------- Components media queries ---------------------------- */
  --regform_profile_lbltop: 39;
  --profile_btn_topfit: 16;
  --regform_fld_fnsize_p: 14;
  --regform_fld_lnhght_p: 17;
  --notfound_btn_fnsize_p: 14;
  --notfound_btn_lnhght_p: 17;
  /*--default_color: cyan;*/
  }
}

@media screen and (max-width: 562px) {
  :root {
    --header_fnsize_p: 12;
    --header_lnhght_p: 16;
    --promo_title_fnsize_p: 36;
    --promo_title_lnhght_p: 46;
    --promo_subtitle_fnsize_p: 13;
    --project_title_fnsize_p: 20;
    --project_title_lnhght_p: 25;
    --project_subtitle_lnhght_p: 22;
    --techs_title_fnsize_p: 40;
    --techs_title_lnhght_p: 48;
    --search_input_fnsize_p: 24;
    --search_input_lnhght_p: 28;
    --filter_label_lnhght_p: 18;
    --card_title_fnsize_p: 13;
    --default_section_left: 14;
    --header_gap: 20;
    --header_btn_top: 22;
    --header_btn_width: 64;
    --header_btn_height: 32;
    --navigation_top: 28;
    --main_top: 176;
    --main_height: 600;
    --promo_subtitle_fitop: 4;
    --promo_img_width: 265;
    --promo_img_height: 260;
    --about_left: 18;
    --project_top: 73;
    --project_height: 622;
    --project_line_top: 122;
    --project_article_top: 182;
    --project_stage_flexord: 1;
    --project_duration_flexord: 2;
    --project_paragraph_top: 244;
    --project_diag_top: 340;
    --project_diag_back: 353fr;
    --project_diag_front: 647fr;
    --project_item_height: 35;
    --techs_top: 70;
    --techs_line_top: 119;
    --techs_title_top: 182;
    --techs_subtitle_top: 244;
    --movies_btn_width: 300;
    /* ---------------------------- Components media queries 562 ---------------------------- */
    --notfound_title_fnsize_p: 100;
    --notfound_title_lnhght_p: 132;
    --notfound_prg_fnsize_p: 14;
    --notfound_prg_lnhght_p: 17;
    --register_top: 56;
    --profile_top: 14;
    --profile_btn_topfit: 184;
    --profile_lnk_topfit: 118;
    --regform_top: 144;
    --regform_items_top: 199;
    --regform_width: 296;
    --regform_fld_bot: 519;
    --regform_btn_top: 676;
    /*--default_color: yellow;*/
  }
}

@media screen and  (max-width: 320px) {
  :root {
    --header_burger: url(../../images/header/burger_320.png);
    --page_width: 320;
    --header_fnsize_p: 10;
    --promo_title_fnsize_p: 30;
    --promo_title_lnhght_p: 38;
    --project_title_fnsize_p: 18;
    --project_title_lnhght_p: 22;
    --project_subtitle_letter_f: -0.064;
    --project_text_fnsize_p: 11;
    --project_text_lnhght_p: 16;
    --techs_title_fnsize_p: 30;
    --techs_title_lnhght_p: 36;
    --techs_title_letter_f: -0.041;
    --author_subtitle_fnsize_p: 11;
    --author_paragraph_lnhght_p: 16;
    --portfolio_title_fnsize_p: 14;
    --portfolio_item_fnsize_p: 18;
    --portfolio_item_lnhght_p: 28;
    --footer_fnsize_p: 12;
    --footer_lnhght_p: 15;
    --search_input_fnsize_p: 18;
    --search_input_lnhght_p: 22;
    --page_width: 320;
    --header_profile_top: 21;
    --header_gap: 13;
    --header_btn_top: 24;
    --header_btn_width: 55;
    --header_btn_height: 26;
    --header_burger_size: 43;
    --header_profile_height: 32;
    --navigation_top: 29;
    --burger_width: 320;
    --burger_height: 780;
    --burger_top: 13;
    --burger_right: 13;
    --burger_link_top: 135;
    --burger_nav_gap: 24;
    --burger_bot: 47;
    --main_top: 144;
    --title_left: 10;
    --promo_title_fitop: 24;
    --promo_title_len: calc(var(--page_width) - var(--title_left)*2);
    --promo_img_width: 210;
    --promo_img_height: 206;
    --promo_btn_altop: -11;
    --techs_height: 651;
    --techs_left: 52;
    --techs_bot: calc(var(--techs_height) - var(--techs_list_top) - 4*var(--techs_item_height) - 42);
    --techs_list_top: 326;
    --aboutme_left: 14;
    --author_line_top: 120;
    --author_article_top: 170;
    --author_image_width: 292;
    --author_image_height: 352;
    --author_title_align: 39;
    --author_subtitle_top: 227;
    --author_paragraph_top: 263;
    --author_paragraph_width: var(--author_image_width);
    --author_link_align: 107;
    --portfolio_top: 893;
    --portfolio_bot_mrg: 37;
    --portfolio_list_top: 954;
    --portfolio_link_height: 28;
    --portfolio_line_top: 1001;
    --search_top: 80;
    --search_line_top: 111;
    --search_align_bot: 0;
    --filter_gap: 12;
    --filter_label_fnsize_p: 11;
    --movies_top: 46;
    --list_row_gap: 20;
    --card_width: 300;
    --card_height: 235;
    --card_img_height: 168;
    --movies_btn_top: 80;
    --movies_btn_width: 240;
    /*--footer_list_topmrg: 36;*/
    --footer_list_topmrg: 30; /* с 36 на 30 замениили на moves, если возникнет конфликт - сделать модфикатор */
    --footer_saved_altop: -28;
    --footer_gap: 12;
    /* ---------------------------- Components media queries 320 ---------------------------- */
    --profile_btn_fnsize_p: 12;
    --profile_btn_lnhght_p: 15;
    --notfound_title_fnsize_p: 80;
    --notfound_title_lnhght_p: 97;
    --notfound_prg_fnsize_p: 12;
    --notfound_prg_lnhght_p: 15;
    --notfound_btn_fnsize_p: 12;
    --notfound_btn_lnhght_p: 15;
    --notfound_title_top: 329;
    --notfound_prg_top: 436;
    --notfound_btn_top: 732;
    --regform_width: 260;
    --regform_profile_width: var(--regform_width);
    --register_btn_topfit: -1;
    /*--default_color: green;*/
  }
}