.portfolio__item {
  margin-top: calc(var(--portfolio_list_align)*1px);
  padding-bottom: calc((var(--portfolio_item_botmrg))*1px);
  height: calc(var(--portfolio_link_height)*1px);
  border-bottom: 1px solid var(--portfolio_line_color);
}

.portfolio__item:first-of-type {
  padding-top: calc(-var(--portfolio_list_align)*1px);
}

.portfolio__item:last-of-type {
  border: none;
}


@media screen and  (max-width: 562px) {
  .portfolio__item:last-of-type {
    margin-top: calc((var(--portfolio_list_align) + 2)*1px);
  }
}