.regform__link_type_profile {
  margin-top: calc((var(--regform_lnk_topmrg) - var(--profile_lnk_topfit))*1px);
  margin-left: calc(var(--profile_lnk_fitleft)*1px);
  font-size: calc(var(--profile_btn_fnsize_p)*1px);
  line-height: calc(var(--profile_btn_lnhght_p)*1px);
  font-weight: var(--default_head_fnwght);
  color: var(--input_error_color);
}