.regform__input_type_profile {
  margin: 0;
  margin-top: calc(var(--profile_fld_fitop)*1px);
  margin-right: calc(var(--profile_fld_firight)*1px);
  height: calc(var(--profile_fld_height)*1px);
  background-color: inherit;
  text-align: right;
  font-size: inherit;
  line-height: inherit;
  font-weight: var(--default_text_fnwght);
}