.footer__list {
  margin: calc(var(--footer_list_topmrg)*1px) 0 0;
  padding: 0;
  display: flex;
  gap: calc(var(--footer_gap)*1px);
  justify-content: flex-end;
  list-style: none;
}

@media screen and (max-width: 320px) {
  .footer__list {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}