.header__link {
  font-size: calc(var(--promo_btn_fnsize_p)*1px);
  line-height: calc(var(--promo_subtitle_lnhght_p)*1px);
  font-weight: var(--default_head_fnwght);
  text-decoration: none;
  color: inherit;
}


@media screen and  (max-width: 320px) {
  .header__link {
    font-size: calc(var(--header_fnsize_p)*1px);
  }
}