.aboutme__article {
  margin-top: calc(var(--author_article_topmrg)*1px);
  max-height: calc(var(--author_image_height)*1px);
  display: flex;
  justify-content: space-between;
}

@media screen and  (max-width: 322px) {
  .aboutme__article {
    flex-direction: column;
    justify-content: flex-start;
  }
}