.navigation {
  margin-top: calc(var(--navigation_top)*1px);
  margin-left: calc(var(--navigation_left)*1px);
  font-size: calc(var(--header_fnsize_p)*1px);
  line-height: calc(var(--header_lnhght_p)*1px);
  font-weight: var(--default_text_fnwght);
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 768px) {
  .navigation_type_navlinks {
    visibility: hidden;
  }

  .navigation_type_burger {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: calc(var(--burger_nav_gap)*1px);
    font-size: calc(var(--burger_fnsize_p)*1px);
    line-height: calc(var(--burger_lnhght_p)*1px);
    font-weight: var(--burger_fnwght);
  }
}

@media screen and  (max-width: 320px) {
  .navigation {
    font-weight: var(--default_head_fnwght);
  }
}