@media screen and (max-width: 1154px) {
  .aboutme__bounds {
    margin-left: calc(var(--about_left)*1px);
    margin-right: calc(var(--about_left)*1px);
  }
}

@media screen and  (max-width: 562px) {
  .aboutme__bounds {
    margin-left: calc(var(--aboutme_left)*1px);
    margin-right: calc(var(--aboutme_left)*1px);
  }
}