@media screen and (max-width: 1154px) {
  .aboutme__bounds {
    margin-left: calc(var(--about_left)*1px);
    margin-right: calc(var(--about_left)*1px);
  }
}

/*@media screen and (max-width: 968px) {
  .aboutme__bounds {
    margin-right: calc(var(--about_left)*1px);
  }
}*/ /* Убрать: стиль установлен для 1154 */

@media screen and  (max-width: 320px) {
  .aboutme__bounds {
    margin-left: calc(var(--aboutme_left)*1px);
    margin-right: calc(var(--aboutme_left)*1px);
  }
}