.moviescardlist {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: calc(var(--list_col_gap)*1px);
  row-gap: calc(var(--list_row_gap)*1px);
  list-style: none;
}

.moviescardlist_type_saved {
  padding-left: calc(var(--default_section_left)*1px);
  justify-content: flex-start;
}

@media screen and (max-width: 768px) {
  .moviescardlist {
    padding-right: 0;
  }
}