.regform__input {
  margin-top: calc(var(--regform_input_topmrg)*1px);
  padding-left: calc(var(--regform_fld_leftmrg)*1px);
  height: calc(var(--regform_input_height)*1px);
  border-radius: calc(var(--regform_input_radius)*1px);
  font-size: calc(var(--regform_fld_fnsize_p)*1px);
  line-height: calc(var(--regform_fld_lnhght_p)*1px);
  font-weight: var(--default_head_fnwght);
  border: none;
  outline: none;
  color: var(--default_color);
  background-color: var(--regform_fld_backcolor);
}

.regform__input:focus {
  border: 2px solid var(--footer_line_color);
  box-sizing: border-box;
  background-color: var(--regform_fld_backcolor);
}

.regform__input:user-valid {
  box-sizing: border-box;
  outline: 1px dashed #202020;
}

.regform__input:user-invalid {
  box-sizing: border-box;
  outline: 1px solid red;
}