.aboutme__descr {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and  (max-width: 320px) {
  .aboutme__descr {
    margin-top: calc(var(--author_title_align)*1px);
    justify-content: flex-start
  }
}