.promo__box {
  padding-right: calc(var(--default_section_left)*1px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 968px) {
  .promo__box {
    margin-left: calc(var(--default_section_left)*1px);
    flex-direction: column-reverse;
    align-items: inherit;
  }
}

@media screen and (max-width: 562px) {
  .promo__box {
    margin: 0;
    padding: 0;
  }
}