.header {
  padding: 0 calc(var(--header_right)*1px) calc(var(--header_bot)*1px) calc(var(--header_left)*1px);
  display: flex;
  justify-content: flex-end;
  gap: calc(var(--header_gap)*1px);
}

.header_logged {
  justify-content: space-between;
}

.header_theme_dark {
  background-color: var(--header_back_dark);
}

.header_type_saved {
  padding-right:  calc(var(--header_right)*2px);
}

@media screen and (max-width: 1279px) {
  .header {
    padding-left: var(--header_left);
    padding-right: var(--header_right);
   }
}

@media screen and (max-width: 968px) {
  .header {
    padding-left: calc(var(--header_left)*1px);
    padding-right: calc(var(--header_right)*1px);
   }
}

@media screen and (max-width: 320px) {
  .header_logged {
    justify-content: flex-start;
   }
}