.filtercheckbox__button {
  width: calc(var(--filter_width)*1px);
  height: calc(var(--filter_height)*1px);
  position: relative;
  background-image: var(--filter_checkbox_img);
  background-repeat: no-repeat;
  background-position: center;
  background-color: inherit;
  aspect-ratio: var(--fiter_aspect);
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .filtercheckbox__button {
    margin-top: -2px;
  }
}