.notfound__button {
  margin-top: calc(var(--notfound_btn_topmrg)*1px);
  color: var(--regform_btn_backcolor);
  background-color: inherit;
  font-size: calc(var(--notfound_btn_fnsize_p)*1px);
  line-height: calc(var(--project_diag_lnhght_p)*1px);
  font-weight: inherit;
  border: none;
  cursor: pointer;
}