.footer {
  padding: 0 calc(var(--footer_right)*1px) calc(var(--footer_bot)*1px) calc(var(--footer_left)*1px);
  font-size: calc(var(--footer_fnsize_p)*1px);
  font-weight: var(--default_text_fnwght);
  line-height: calc(var(--footer_lnhght_p)*1px);
  background-color: var(--footer_back_color);
}

.footer_type_movie {
  margin-top: -2px;
}

.footer_type_saved {
  margin-top: calc(var(--footer_saved_altop)*1px);
  padding-right: calc(var(--footer_right)*2px);
}

@media screen and (max-width: 1279px) {
  .footer {
    padding-left: var(--footer_left);
    padding-right: var(--footer_right);
    padding-bottom: calc(var(--footer_bot)*1px);
  }  
}

@media screen and (max-width: 968px) {
  .footer {
    padding-left: calc(var(--footer_left)*1px);
    padding-right: calc(var(--footer_right)*1px);
  }  
}

@media screen and (max-width: 768px) {
  .footer_type_movie {
    margin-top: -1px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    margin-top: -3px;
  }

  .footer_type_saved {
    margin-top: calc(var(--footer_saved_altop)*1px);
  }
}
