.promo {
  margin-bottom: calc(var(--promo_bot_mrg)*1px);
  margin-left: calc(var(--main_left)*1px);
  display: flex;
  flex-direction: column;
  row-gap: calc(var(--main_btn_gap)*1px);
}

@media screen and (max-width: 1279px) {
  .promo {
    margin-left: var(--main_left);
    margin-right: var(--main_left);
  }
}

@media screen and (max-width: 968px) {
  .promo {
    margin-left: calc(var(--main_left)*1px);
    margin-right: calc(var(--main_left)*1px);
    align-items: center;
    text-align: center;
  }
}
