.searchform {
  margin-left: calc(var(--search_align_right)*1px);
  padding: calc(var(--search_top)*1px) calc(var(--default_section_left)*1px) 0;
  padding-right: calc(var(--default_section_left)*1px);
  background-color: var(--search_back_color);
}

.searchform_type_saved {
  padding-right:  calc(var(--default_section_left)*2px);
}

@media screen and (max-width: 768px) {
  .searchform_type_saved {
    padding-right: calc(var(--default_section_left)*1px);
  }
}
