.notfound__title {
  margin: 0;
  padding-top: calc(var(--notfound_title_top)*1px);
  font-size: calc(var(--notfound_title_fnsize_p)*1px);
  line-height: calc(var(--notfound_title_lnhght_p)*1px);
  font-weight: inherit;
}

@media screen and (max-width: 1279px) {
  .notfound__title {
    padding-top: calc((var(--page_width)*1px - 100vw)*(var(--notfound_top_tgt768) - var(--notfound_title_top))/(var(--page_width) - 968) + var(--notfound_title_top)*1px);
  }
}