.aboutproject__item {
  font-size: calc(var(--project_text_fnsize_p)*1px);
  line-height: calc(var(--project_item_height)*1px);
}

@media screen and (max-width: 968px) {
  .aboutproject__item {
    font-weight: var(--default_head_fnwght);
    letter-spacing: .1ch;
  }
}

@media screen and (max-width: 320px) {
  .aboutproject__item {
    font-weight: var(--default_text_fnwght);
    letter-spacing: 0;
  }
}